<% include header%>
    <!-- Main -->
    <div id="main" >

        <ul class="demo">




         
            <li>
                   
                   <a href="http://www.hansus.cn"><img src="../../img/web/pic01.jpg"></a>
                   <footer>
                       <h3>个人博客</h3><h3>2019-2-1</h3>
                   </footer>
                   
                </li>
            <li>       
                    <a href="http://www.hsnote.club"><img src="https://hansu-1253325863.cos.ap-shanghai.myqcloud.com/newblog/web/core-img/demo_docsify.jpg"></a>
                    <footer>
                            <h3>前端个人手册</h3><h3>2019-1-5</h3>
                        </footer>       
             </li>
                <li>           
                    <a href="http://www.hansus.cn"><img src="../../img/web/pic01.jpg"></a>
                    <footer>
                            <h3>前端个人手册</h3><h3>2019-8-1</h3>
                        </footer>          
            </li>
        </ul>







      </div>
        <% include footer%>
        </body>

    <script>

$(".tool-sidebar ul li").click(function(){

alert("1");

})


    </script>
            </html>