<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>blog</title>
    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../../css/main.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid" style="background:#FFF;">

    <!--导航开始-->
    <div class="navbar navbar-expand-sm navbar-dark bg-dark mx-4">

        <a href="#" class="nav-brand nav-link text-light"><img src="../../img/logo.jpg" class="w-4 rounded"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#demo">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="demo">

            <ul class="navbar-nav w-75">
                <li class="nav-item ml-lg-5"><a href="#" class="nav-link">首页</a></li>
                <li class="nav-item ml-lg-5"><a href="#" class="nav-link">所有课程</a></li>



                <li class="nav-item ml-lg-5"><a href="#" class="nav-link">最新课程</a></li>
                <li class="nav-item ml-lg-5"><a href="#" class="nav-link">关于我们</a></li>

            </ul>

            <ul class="navbar-nav w-25 ">


                <li class="nav-item d-flex align-items-stretch"><input type="text" class="p-0 pl-3 form-control rounded-0"><a class="d-inline-block"><img src="../../img/search.png" class="h-100"></a></li>
                <li class="nav-item ml-3"><a class="nav-link text-light">登录</a></li>
                <li class="nav-item ml-3"><a class="nav-link text-light">注册</a></li>
            </ul>

        </div>



    </div>