<% include header%>
<!-- Main -->
<div id="main" >




    <h3>留言板</h3>

    <div class="card text-center mb-4">
            <div class="card-header py-0">
              <p class="text-left my-2"><img src="../../img/web/avatar.jpg" style="vertical-align:middle;" class="rounded-circle mr-4">hansu 2017-8-9 </p>
            </div>
            <div class="card-body text-left">
              <h4 class="card-title">请问博主建站用的什么技术栈啊？</h4>
              <h4 class="card-text"><i class="fa fa-share mr-2"></i>主要是Node.js.数据库是MongoDB</h4>
           
            </div>
           
          </div>


          <div class="card text-center mb-4">
                <div class="card-header py-0">
                  <p class="text-left my-2"><img src="../../img/web/avatar.jpg" style="vertical-align:middle;" class="rounded-circle mr-4">hansu 2017-8-9</p>
                </div>
                <div class="card-body text-left">
                  <h4 class="card-title">请问博主建站用的什么技术栈啊？</h4>
                  <h4 class="card-text"><i class="fa fa-share mr-2"></i>主要是Node.js.数据库是MongoDB</h4>
               
                </div>
               
              </div>


              <div class="card text-center mb-4">
                    <div class="card-header py-0">
                      <p class="text-left my-2"><img src="../../img/web/avatar.jpg" style="vertical-align:middle;" class="rounded-circle mr-4">hansu 2017-8-9</p>
                    </div>
                    <div class="card-body text-left">
                      <h4 class="card-title">请问博主建站用的什么技术栈啊？</h4>
                      <h4 class="card-text"><i class="fa fa-share mr-2"></i>主要是Node.js.数据库是MongoDB</h4>
                   
                    </div>
                   
                  </div>
    



</div>


<% include footer%>



</body>

</html>