	<!-- Sidebar -->
    <section id="sidebar">

            <!-- Intro -->
                <section id="intro">
                    <a href="#" class="logo"><img src="../../img/web/logo.jpg" alt="" /></a>
                    <header>
                        <h3>没有学不会的技术</h3>
                        <p><i class="fa fa-pencil" aria-hidden="true"></i><%=total%>条文章</p>
                    </header>
                </section>

            <!-- Mini Posts -->
                <section>
                    <div class="mini-posts">
                            <h3>最近更新</h3>
                        <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="#">Vitae sed condimentum</a></h3>
                                    <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                    <a href="#" class="author"><img src="../../img/web/avatar.jpg" alt="" /></a>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic04.jpg" alt="" /></a>
                            </article>

                        <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="#">Rutrum neque accumsan</a></h3>
                                    <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                    <a href="#" class="author"><img src="../../img/avatar.jpg" alt="" /></a>
                                </header>
                                <a href="#" class="image"><img src="../../img/pic05.jpg" alt="" /></a>
                            </article>

                        <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="#">Odio congue mattis</a></h3>
                                    <time class="published" datetime="2015-10-18">October 18, 2015</time>
                                    <a href="#" class="author"><img src="../../img/web/avatar.jpg" alt="" /></a>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic06.jpg" alt="" /></a>
                            </article>

                        <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="#">Enim nisl veroeros</a></h3>
                                    <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                    <a href="#" class="author"><img src="../../img/web/avatar.jpg" alt="" /></a>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic07.jpg" alt="" /></a>
                            </article>

                    </div>
                </section>

            <!-- Posts List -->
                <section>
                    <ul class="posts">
                        <li>
                            <h3>往期推荐</h3>
                            <article>
                                <header>
                                    <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                    <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic08.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                    <time class="published" datetime="2015-10-15">October 15, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic09.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
                                    <time class="published" datetime="2015-10-10">October 10, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic10.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
                                    <time class="published" datetime="2015-10-08">October 8, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic11.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>
                                    <time class="published" datetime="2015-10-06">October 7, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="../../img/web/pic12.jpg" alt="" /></a>
                            </article>
                        </li>
                    </ul>
                </section>

            <!-- About -->
                <section class="blurb">
                    <h2>关于我</h2>
                    <p>一个相信代码能够改变一切的程序员</p>
                    <ul class="actions">
                        <li><a href="#" class="button">了解更多&nbsp;<i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </section>