<% include header%>
    <!-- Main -->
    <div id="main" >

        <div id="tool_shouce">
            <h2>中文手册</h2>
            <hr class="my-4">
            <ol>
                <li>
                    <h3>
                        <a href="">Node.js中文文档</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="http://www.w3school.com.cn">W3school</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="http://jquery.cuishifeng.cn/">jQuery中文文档</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript">Js—MDN手册</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="http://www.bootcss.com/">BootStrap手册</a>
                    </h3>
                </li>

            </ol>
        </div>


        <div id="tool_icon">
            <h2>网页素材</h2>
            <hr class="my-4">
            <ol><li>
                  <h3>
                        <a href="http://element-cn.eleme.io">饿了么UI</a>
                    </h3>
                </li>
            </ol>
        </div>
        <div id="tool_learn">
            <h2>前端学习平台</h2>
            <hr class="my-4">
          <ol>
                <li>
                    <h3>
                        <a href="http://www.yyyweb.com/">慕课</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="http://www.fontawesome.com.cn/">网易云课堂</a>
                    </h3>
                </li>

                <li>
                    <h3>
                        <a href="http://element-cn.eleme.io">W3school</a>
                    </h3>
                </li>
            </ol>
        </div>
    </div>

    <!-- Sidebar -->
    <section id="sidebar" class="tool-sidebar">
        <!-- Intro -->
        <section >
            <h3>工具大全</h3>
            <ul>
                <li>
                <a href="javascript:void(0)">前端手册</a>
                </li>
                <li> <a href="javascript:void(0)">UI网站</a></li>
                <li> <a href="javascript:void(0)">前端学习平台</a></li>
                <li> <a href="javascript:void(0)">常用软件下载</a></li>
            </ul>
        </section>
        <% include footer%>
        </body>

    <script>

$(".tool-sidebar ul li").click(function(){

alert("1");

})


    </script>
            </html>